.sled
  position relative

  .slides
    cursor pointer
    overflow hidden
    position relative

    .slide
      position absolute
      top 0
      left 0
      width 100%
      z-index -2
      display flex
      align-items center
      justify-content center
      transform translateX(100%)
      transition 1s ease

      &:first-child
        position relative
        transform translateX(0)

      & > *
        max-width 100%
        max-height 100%
